:root {
  --primary-colour-500: #3c5cc2;
  --primary-backgroud-colour-50: #e9ecf8;
  --complementary-colour-800: #c2a33c;
  --complementary-colour-500: #fbe04d;
  --secondary-colour-triadic-500: #a33cc2;
  font-family: Arial, Helvetica, sans-serif;
}
/* ~ tilde mean subsequent sibling, so the one after, had to rearrange html to make this work */
#not:checked ~ .emoji-not,
#hot:checked ~ .emoji-hot {
  font-size: 4rem;
}

body {
  background-color: var(--primary-backgroud-colour-50);

  h1 {
    color: var(--primary-colour-500);
  }

  a {
    text-decoration: none;
    color: var(--primary-colour-500);

    &:hover {
      transform: scale(1.2);
      color: var(--complementary-colour-800);
    }
  }

  p {
    margin: 0;
  }

  .opinions {
    display: flex;
  }

  .emoji {
    font-size: 2rem;
    cursor: pointer;
    transition: font-size 200ms ease-in;

    &:hover {
      font-size: 4rem;
    }
  }

  input[type="radio"] {
    display: none;
  }
}

@media screen and (max-width: 633px) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      "section section section"
      "image image image"
      "main main main";

    grid-template-rows: 0.35fr 0.35fr 1fr 1fr;

    header {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    section.hero {
      grid-area: section;
    }

    img {
      grid-area: image;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 634px) {
  body {
    display: grid;
    padding: 1rem;
    grid-template-areas:
      "header header header header"
      "section section image image"
      "section section image image"
      "main main main main"
      "main main main main";

    grid-template-columns: 1fr 1fr 1fr 1fr;

    header {
      display: flex;
      grid-area: header;
      justify-content: space-between;
      align-items: center;
    }

    img {
      grid-area: image;
      width: 100%;
    }

    section.hero {
      grid-area: section;
    }

    section.main {
      margin-top: 1rem;
      grid-area: main;
    }
  }
}

@media screen and (min-width: 749px) {
  body {
    padding: 0;
    margin: 0;
    display: grid;
    font-size: 1.25rem;
    grid-template-areas:
      "header header header header"
      ". section section ."
      "main main main main"
      "main main main main"
      ". footer footer .";

    img {
      grid-area: header;
      opacity: 0.2;
      position: absolute;
      max-height: 100vh;
      z-index: -1;
    }

    header {
      grid-area: header;
      display: flex;
      justify-content: space-around;
    }

    section.hero {
      margin: 2rem 1rem;
      grid-area: section;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        text-align: center;
        text-decoration: underline;
      }
    }

    section.main {
      color: var(--primary-backgroud-colour-50);
      padding: 1rem;
      background-color: var(--secondary-colour-triadic-500);
      opacity: 0.7;
    }

    footer {
      grid-area: footer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        text-align: center;
      }

      .opinions {
        min-height: 5rem;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      div {
        display: inline;
        text-align: center;
      }
    }
  }
}
